.footer {
  display: flex;
  flex-direction: column;
  margin-top: 67px;
  margin-bottom: 60px;
}

.footer__copyright {
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  font-family: "Inter", Arial, sans-serif;
  color: #545454;
  width: 318px;
}

@media screen and (max-width: 480px) {
  .footer {
    margin: 0;
    padding: 48px 19px 36px 19px;
  }

  .footer__copyright {
    width: 282px;
    margin: 0;
    font-size: 14px;
  }
}
