.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.modal_opened {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: show 0.2s;
}

.modal__container {
  background-color: white;
  padding: 36px;
  margin: auto;
  border-radius: 10px;
  position: relative;
}

.modal__container-preview {
  margin: auto;
  border-radius: 10px;
  position: relative;
}

.modal__close {
  background-image: url(../images/close-icon.svg);
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  height: 40px;
  width: 40px;
  position: absolute;
  top: -45px;
  right: -45px;
}

.modal__heading {
  font-size: 24px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  margin: 0;
  padding: 34px 28px 54px 0px;
}

.modal__heading_preview {
  color: #fff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 10px;
}

.modal__preview_image {
  justify-content: center;
  align-content: center;
  font-weight: 400;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: white;
  width: 433px;
  height: 540px;
  flex-shrink: 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  outline: 0;
  padding-bottom: 13px;
  border-width: 0 0 1px;
  border-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 29px;
}

.modal__button {
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  padding: 14px 124px 19px 125px;
  margin-top: 20px;
}

.modal__button:hover {
  cursor: pointer;
}

@media screen and (max-width: 620px) {
  .modal__container {
    padding: 22px;
  }
  .modal__heading {
    padding: 10px 0 75px;
  }
  .modal__input {
    margin-bottom: 30px;
  }
  .modal__close {
    right: -45px;
    height: 26px;
    width: 26px;
  }
  .modal__preview_image {
    width: 240px;
    height: 299px;
    flex-shrink: 0;
  }
}

@media screen and (max-width: 480px) {
  .modal__container {
    width: 282px;
    height: 322px;
    flex-shrink: 0;
  }

  .modal__heading {
    padding-top: 10px;
  }

  .modal__button {
    padding: 14px 0px 19px 0px;
  }
}

@keyframes show {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
