.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 36px;
  max-width: 880px;
  margin: 0 auto;
}

.profile__info {
  display: grid;
  grid-template-areas: "title button" "description discription";
  grid-template-columns: minmax(auto, 373px) auto;
  align-items: center;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background: #c4c4c4;
  margin-right: 30px;
}

.profile__edit-button {
  background: transparent url(../images/Edit\ Button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  margin-left: 18px;
  margin-top: 6px;
  grid-area: "button";
  border: #fff solid 1px;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__add-button {
  background: transparent url(../images/Add\ Button.svg) center no-repeat;
  height: 50px;
  width: 150px;
  border: #ffffff solid 2px;
  margin-left: auto;
  border-radius: 2px;
  grid-area: button;
  flex-shrink: 0;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__title {
  font-size: 42px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1.14;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-area: title;
  margin: 0;
}

.profile__description {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  grid-area: description;
  padding-top: 7px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 320px) {
  .profile {
    flex-direction: column;
    padding-bottom: 36px;
  }
  .profile__info {
    width: 100%;
    margin: 0 auto;
  }
  .profile__title {
    width: 196px;
  }

  .profile__edit-button {
    align-self: center;
    margin-left: 10px;
  }

  .profile__image {
    margin: 0;
  }
}
@media screen and (max-width: 620px) {
  .profile {
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .profile__title {
    font-size: 22px;
    font-weight: 500;
    font-family: "Inter", Arial, sans-serif;
    line-height: 1.2;
    padding-top: 26.5px;
  }
  .profile__description {
    width: 100%;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 36px;
    font-size: 14px;
    /* width: 282px; */
  }

  .profile__name {
    font-size: 22px;
    margin-top: 26.25px;
    line-height: 1.21;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    align-self: flex-end;
  }

  .profile__add-button {
    margin: 0;
    max-width: 282px;
    padding: 17px 138px 17px 140px;
  }

  .profile__image {
    margin: 0 auto;
  }
}

@media screen and (max-width: 770px) {
  .profile__title {
    font-size: 22px;
    max-width: 283px;
  }
  .profile__add-button {
    width: 75px;
    margin: auto;
  }
  .profile__edit-button {
    margin-right: 10px;
  }
}
